.nav{
    background-color: rgb(208, 208, 208);
}
.mylist {
    display: flex;
    flex-direction: row; 
    list-style: none;
    flex-wrap: wrap;
}

.mylist img {
    order: -1;
    align-self: center;
    margin-right: 10px;
}

.mylist li{
    padding: 2%;

}
.container {
    position: relative;
    text-align: center;
}

.imagetext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px; 
}


#courses h1{
    text-align: center;
    color: rgba(13, 31, 172, 0.752);
    font-size:45px;
}

#courses .courses1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
 }

  #courses .singlecourse{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    margin: 1%;
    width: 30%;
    background-color: rgb(204, 203, 203);
    height: 220px;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    
}

.icon{
    flex: 2;
    font-size: 45px;
    align-content: center;
    text-align: center;
}

.context{
   flex:8;
   text-align: center;
   
}

.context h4{
    color:  rgba(13, 31, 172, 0.752);
    font-size: 35px;
    margin-bottom: 0%;
   
} 

.plantitle{
    text-align: center;
    color: rgba(13, 31, 172, 0.752);
    font-size:45px;
}

.plans{
    margin: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;

}

.singleplan{
    align-content: center;
    text-align: center;
    background-color: rgb(204, 203, 203);
    width: 30%;
    height: 500px;
    border-radius: 20px;
    margin: 0%;
    padding: 0%;

}

.singleplan h3{
    font-size: 40px;
}






